    ErrorDocument 400 /ny2/error/HTTP_BAD_REQUEST.html.var
    ErrorDocument 401 /ny2/error/HTTP_UNAUTHORIZED.html.var
    ErrorDocument 403 /ny2/error/HTTP_FORBIDDEN.html.var
    ErrorDocument 404 /ny2/error/HTTP_NOT_FOUND.html.var
    ErrorDocument 405 /ny2/error/HTTP_METHOD_NOT_ALLOWED.html.var
    ErrorDocument 408 /ny2/error/HTTP_REQUEST_TIME_OUT.html.var
    ErrorDocument 410 /ny2/error/HTTP_GONE.html.var
    ErrorDocument 411 /ny2/error/HTTP_LENGTH_REQUIRED.html.var
    ErrorDocument 412 /ny2/error/HTTP_PRECONDITION_FAILED.html.var
    ErrorDocument 413 /ny2/error/HTTP_REQUEST_ENTITY_TOO_LARGE.html.var
    ErrorDocument 414 /ny2/error/HTTP_REQUEST_URI_TOO_LARGE.html.var
    ErrorDocument 415 /ny2/error/HTTP_UNSUPPORTED_MEDIA_TYPE.html.var
    ErrorDocument 500 /ny2/error/HTTP_INTERNAL_SERVER_ERROR.html.var
    ErrorDocument 501 /ny2/error/HTTP_NOT_IMPLEMENTED.html.var
    ErrorDocument 502 /ny2/error/HTTP_BAD_GATEWAY.html.var
    ErrorDocument 503 /ny2/error/HTTP_SERVICE_UNAVAILABLE.html.var
    ErrorDocument 506 /ny2/error/HTTP_VARIANT_ALSO_VARIES.html.var
